<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{title}</title>
<style>
    table, th, td {
        border-style: solid;
        border-collapse: collapse;
        border-color: red;
    }
</style>
</head> 
    <body> 
    <h1>{title}</h1>
    <h2>NAME : {firstname}</h2>
    <h2>SURNAME : {surname}</h2>
    <table class="identity">
        <tr>
            <th>Information</th><th>Description</th>
        </tr>
        <tr>
            <td>Age</td><td>{age}</td>
        </tr>
        <tr>
            <td>Profession</td><td>{profession}</td>
        </tr>
        <tr>
            <td>Salary</td><td>{salary}</td>
        </tr>
    </table>
    </body> 
</html>
